<div class="col-xs-12" ng-show="LoginData.fingerprintjs">
    <div class="login" style="padding: 20px;">
        <h4>Nickname</h4>
        <form ng-submit="fingerprintjsLogin()">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Name" ng-model="simple.name" required>
            </div>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

